{% extends 'base.html' %}

{% block content %}

<header>
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <div class="page-heading">
            <h1>Mentions légales</h1>
          </div>
        </div>
      </div>
    </div>
</header>

<section>
    <div class="container">
        <h2>Ce site ne pourrait pas exister sans les éléments suivants :</h2>
    <ul>
        <li>Le framework <a href="https://www.djangoproject.com/">Django</a></li>
        <li>La librairie CSS <a href="https://getbootstrap.com/">Bootstrap</a></li>
        <li>Le thème <a href="https://blackrockdigital.github.io/startbootstrap-creative/">Start Bootstrap Creative</a></li>
        <li>Les images de la librairie libre <a href="https://pixabay.com/fr/images/search/la%20biblioth%C3%A8que/">Pixabay</a></li>
    </ul>
    <p></p>
    <p>Veuillez noter qu'à l'exception des ressources libres de droits issues des bibliothèques précédemment citées, l'ensemble des éléments utilisés au sein du site sont la propriété exclusive de l'association.</p>
    </div>
</section>


{% endblock %}